@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.detailCol1 {
  text-align: center;
}
.detailImg {
  Width: 332px;
  Height: 400px;
  padding: 30px;
  border: 0.1px rgb(218, 215, 215) solid;
  border-radius: 10px;    
}

.detailTitle {
  color: #14142B;
  font-family: "Mulish",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}
.detailGenre {
  color: #4E4B66;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 16px;
}

.detail2  {
  display: flex;
  text-align: start;
}

.detailSubTitle {
  color: #8692A6;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 16px;

}

.detailText {
  color: #121212;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.detailSynopsis {
  color: #000000;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.synopsisText {
  color: #4E4B66;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}