@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.orderHistory {
  background-color: #FFFF;
  border-radius: 16px;
  margin-top: 24px;
  padding: 0px;
}

.orderHistoryForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 32px;
  border-bottom: 1px solid #DEDEDE;
}

.orderHistorySchedule {
  color: #AAAAAA;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.orderHistoryMovie {
  color: #000000;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.orderHistoryImg {
  width: 121px;
}

.orderHistoryBtn {
  background: #00BA88;
  border: none;
  width: 196px;
  height: 40px;
  color: #F7F7FC;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.orderHistoryDetail {
  color: #AAAAAA;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.orderHistoryBtn:hover {
  background: #00BA88;
  border: none;
  color: #F7F7FC;
}
.orderHistoryBtn:focus {
  background: #00BA88;
  color: #F7F7FC;
  box-shadow: none;
}

.orderHistoryEmpty {
  color: grey;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.orderHistoryMobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .orderHistoryMobile {
    display: block;
  }
  .orderHistoryWeb {
    display: none;
  }
  .orderHistoryForm {
    padding: 25px 10px 32px;
  }
  .orderHistoryMovie {
    font-size: 18px;
  }
  .orderHistoryBtn {
    width: 100%;
  }
}