@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.dropDown {
  display: flex;
  border-radius: 6px;
  background-color: #EFF0F6;
  width: 284px;
  height: 56px;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0px 10px;
}

.dropDownInput {
  width: 100%;
  margin-left: 10px;
}

@media only screen and (max-width: 992px) {
  .dropDown {
    width: 260px;
    height: 48px;
  }
}