@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.orderSeat {
  background-color: #F5F6F8;
  padding: 32px 0px 75px 70px;
  overflow-x: hidden;
}

.orderTitle {
  color: #14142B;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 24px;
}

.orderDetailForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFF;
  border-radius: 6px;
  padding: 37px 48px;
  margin: 24px 0px;
}

.orderMovie {
  color: #000000;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.orderChangeBtn {
  background-color: #EFF0F7;
  border: 8px solid #EFF0F7;
  border-radius: 4px;
  font-family: 'Mulish',sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #5F2EEA;
}

.orderSeatForm {
  background-color: #FFFF;
  border-radius: 6px;
  padding: 106px 0px;
  text-align: center;
  margin-top: 24px;
}

.orderScreenText {
  color: #4E4B66;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.orderScreenBar {
  background-color: #5F2EEA;
  width: 532px;
  height: 8px;
  border-radius: 8px;
  margin: 8px auto 24px;
}

.seat-layout{
  width: 26px !important;
  height: 26px !important;
  border-radius: 4px;
  margin: 5px;
}

.seat-layout_love-nest{
  width: 60px !important;
  height: 26px !important;
  border-radius: 4px;
  margin: 6px;
}

.btn-seat-layout{
  -webkit-appearance: none;
  appearance: none;
  width: 26px !important;
  height: 26px !important;
  border-radius: 8px !important;
  background-color:#D6D8E7 !important;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:checked{
  -webkit-appearance: none;
  appearance: none;
  background-color: #5F2EEA !important;
}

input[type="checkbox"]:disabled{
  -webkit-appearance: none;
  appearance: none;
  background-color: #6E7191 !important;
  cursor: unset;
}

.btn-seat-layout_love-nest{
  -webkit-appearance: none;
  appearance: none;
  width: 60px !important;
  height: 26px !important;
  border-radius: 8px !important;
  background-color: #F589D7 !important;
}

.bg-gray-light{
  width: 26px;
  height: 26px;
  border-radius: 4px;
  margin-right: 16px;
  background-color:#D6D8E7 !important;
}

.bg-dark-ash{
  width: 26px;
  height: 26px;
  border-radius: 4px;
  margin-right: 16px;
  background-color: #6E7191 !important;
}

.bg-theme{
  width: 26px;
  height: 26px;
  border-radius: 4px;
  margin-right: 16px;
  background-color: #5F2EEA !important;
}

.bg-pink{
  width: 26px;
  height: 26px;
  border-radius: 4px;
  margin-right: 16px;
  background-color: #F589D7 !important;
}

.orderSeatingKey {
  color: #000000;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  margin-left: 117px;
}

.orderLegend {
  display: flex;
  justify-content: space-evenly;
  padding: 21px 117px;
}

.orderLegendDetail {
  display: flex;
  align-items: center;
}

.orderFormBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px 0px;
}

.orderChangeMovie {
  width: 300px;
  height: 56px;
  border-radius: 16px;
  border: 2px solid #5F2EEA;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #5F2EEA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderCheckOut {
  width: 300px;
  height: 56px;
  background: #5F2EEA;
  border-radius: 16px;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .orderSeat {
    padding: 32px 24px 75px 24px;
  }
  .orderWeb {
    display: none;
  }
  .orderScreenBar {
    width: 295px;
    height: 8px;
  }
}