@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.cinema {
  background-color: #F5F6F8;
  padding:  0px 79px;
}

.cinemaCard {
  background-color: #FFFF;
  margin: 34px 0px;
  border-radius: 8px;
  width: 381px;
  height: 350px;
}

.cinemaHeader {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 0.5px solid #DEDEDE;
}

.cinemaImg {
  width: 106.57px;
  height: 39.64px;
  margin-right: 47px;
}

.cinemaName {
  color: #000000;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.cinemaAddress {
  color: #6E7191;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}
.cinemaTime {
  background-color: #FFFF;
}
.cinemaTimeBtn {
  margin: 16px 22px;
  color: #4E4B66;
  font-family:'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  border-radius: 8px;
  padding: 0px;
}

.cinemaPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px 33px 24px;
}

.cinemaPriceText {
  color: #6B6B6B;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.cinemaPriceTotal {
  color: #000000;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.cinemaBtnForm {
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
}

.cinemaBookBtn {
  width: 134px;
  height: 40px;
  background-color: #5F2EEA;
  border: 4px;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #F7F7FC;
}

.cinemaCartBtn {
  width: 134px;
  height: 40px;
  background-color: #FFFF;
  border: 4px;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #5F2EEA;
}

.cinemaCartBtn:hover {
  background-color: transparent;
  color: #5F2EEA;
}

.cinemaViewMore {
  width: 134px;
  height: 40px;
  background-color: transparent;
  border: 4px;
  font-family: 'Mulish',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #5F2EEA;
  margin: 14px 0px 64px;
}

.cinemaViewMore:hover {
  background-color: transparent;
  color: #5F2EEA;
}

@media only screen and (max-width: 992px) {
  .cinema {
    padding: 0px 24px;
  }
  .cinemaCard {
    width: 327px;
    height: 350px;
  }
  .cinemaHeader {
    display: block;
    text-align: center;
    margin: 24px 24px 0px;
  }
  .cinemaImg {
    margin-right: 0px;
    margin-bottom: 12px;
    height: 29px;
    width: 77px;
  }  
  .cinemaName {
    display: none;  
  }
  .cinemaTimeBtn {
    margin: 16px 16px;
  } 
}