@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.footer-img {
    Width: 170;
    Height: 45;
    margin-bottom: 30px;
  }
  .footer {
    padding: 50px 100px 0px;
  }
  .footer-col1{
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
    color: #6E7191;
    text-align: left;
    padding-top: auto;
  }
  .footer-col2 p{
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    text-align: left;
  }
  .footer-col2 a {
    font-family: 'Mulish',sans-serif;
    font-size: 14px;
    color: #4E4B66;
    display: block;
    margin-top: 15px;
  }
  .footer-col3 p{
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
  .footer-col3 a {
    display: block;
    margin-top: 25px;
  }
  .footer-col4 p{
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    font-weight: bold;
  }
  .footer-col4 a{
    font-family: 'Mulish',sans-serif;
    font-size: 14px;
    color: #4E4B66;
    display: flex;
    margin-top: 25px;
  }
  .footer-mobile {
    display: none;
  }
  .footer .col5 p{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #4E4B66;
    text-align: center;
  } 
  

@media only screen and (max-width: 992px) {
  .footer {
    padding: 50px 25px;
  }
  .footer-col2 p{
    margin-top: 40px;
  }
  .footer-col2 a{
    display: inline;
    margin-right: 35px;
  }
  .footer-col3 p{
    margin-top: 40px;
  }
  .footer-col3 a{
    display: inline;
    margin-right: 25px;
  }

  .footer-col4 p{
    margin-top: 40px;
  }

  .footer-col4 a {
    display: inline;
    margin-right: 40px;
  }

  .footer-col4 a .mobile {
    display: none;
  }

  .img2-footer {
    width: 82px;
  }
}