@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.showTime {
  background-color: #F5F6F8;
  padding: 70px 0px 35px;
}

.showTimeTitle {
  color: #14142B;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.showTimeBtn {
  display: flex;
  justify-content: center;
}

.dropDown {
  display: flex;
  border-radius: 6px;
  background-color: #EFF0F6;
  width: 284px;
  height: 56px;
  align-items: center;
  padding: 0px 10px;
  margin: 40px 12px 0px 12px;
}

.dropDownInput {
  width: 100%;
  margin-left: 10px;
}

.showTimeCinemaText {
  color: grey;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .showTime {
    padding: 40px  20px;
  }
  .showTimeCinema {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .showTimeTitle {
    color: #000000;
    font-size: 18px;  
  }
  .dropDown {
    width: 260px;
    height: 48px;
  }
  .dropDown {
    margin: 20px 12px 0px 12px;
  }
  .showTimeCinemaText {
    font-size: 18px;
  }
}